/* ----- MAIN STYLES -----
   ================================================== */
   body {
	background-color: #c6dfe5;
	background-image: url(../img/bg.jpg);
	background-repeat: repeat-xy;
}

h1, h2, h3, h4, h5, h6 {
	color: #001f3f;
	text-shadow: 0 1px 0 #ffffff;
}

footer {
	margin-top: 15px;
	text-align: center;
}

.hero-unit {
	margin-top: 30px;
	background-color: #94b73e;
}

/* ===[ Labels ]=== */
.label, .badge {
    margin: 0 4px;
}

/* ===[ Alert  ]=== */
.alert {
	border-style: solid;
	border-width: 1px;
}

.alert-success { border-color: #468847 }
.alert-danger, .alert-error { border-color: #B94A48 }

/* ===[ Top navbar ]=== */
.navbar-fixed-top .navbar-inner {
	background-color: #001f3f;
	background-image: none;
	border-width: 0 0 4px;
	border-color: #94b73e;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    background-color: #94b73e; /* 000c18 */
    color: #000c18; /* ffffff */
}

.navbar .brand, .navbar .nav li a {
	color: #fbfbfb;
	text-shadow: none;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	-webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, .5);
	box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, .5);
}

/* ===[ Main content area  ]=== */
.content-full {
	background-color: #ffffff;
	border-radius: 8px;
	border: solid #94b73e 1px;
	padding: 20px;
	overflow: auto;
}

.content-center {
	background-color: #eeeeee;
	border-radius: 4px;
	border: solid #94b73e 1px;
	padding: 20px;
	overflow: none;
}

/* ===[ Table  ]=== */
.table-hover tbody tr:hover td { background-color: #dddddd }
.table-list {
	max-width: 600px;
	margin: 0 auto;
}
.table-list td { padding: 10px 15px }
.table-list tr { border-bottom: solid #94b73e 1px }
tr.row-add-button td { text-align: center }
.tombstone-list tr.row-add-button td { padding-bottom: 10px ;}
.tombstone-list tr.row-add-button td, tbody tr.row-add-button:hover td, tbody tr.tombstone-head:hover td { background-color: transparent }
.table-list tr:first-child, .table-list tr:last-child, .table-list tr.tombstone-head, tr.row-add-button.empty { border-width: 3px }
.tombstone-list { max-width: 100% }
.tombstone-list td { padding: 2px 7px }
.tombstone-list .stripe, tbody tr.tombstone-head:hover td.stripe { background-color: #eeeeee }
.tombstone-list tr.tombstone-head td { font-weight: bold }
tr.row-add-button { border-width: 0 }

/* ===[ Modal confirmation window  ]=== */
.modal-footer .btn-cancel { float: right }
.modal-footer .btn-danger { float: left }

/* ===[ Contact Form  ]=== */
.contact-form {
	width: 400px;
	margin: 0 auto;
}

/* ===[ Images  ]=== */
.cemetery-map {
	width: 200px;
	margin-top: 5px;
	margin-bottom: 15px;
}

/* ===[ Forms  ]=== */
.control-group { margin-left: 10px }
.control-group.stack { float: left }