body {
    direction: rtl;
}

/* ===[ Navbar rtl layout NOT NEEDED CURRENTLY ]=== */
/*.navbar .brand, .navbar .nav, .navbar .nav li { float: right }
.navbar .nav.pull-right, .navbar .btn-navbar { float: left }*/

/* ===[ Laravel profile bar ]=== */
.anbu { direction: ltr }

/* ===[ Table layout ]=== */
.table th, .table td { text-align: right }

/* ===[ Button groups ]=== */
.btn-group > .btn:first-child {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -1px;
}

.btn-group > .btn:last-child, .btn-group > .dropdown-toggle {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    margin-left: 0;
}

/* ===[ Modal confirmation window ]=== */
.modal .close, .modal-footer .btn-danger { float: right !important }
.modal-footer .btn-cancel { float: left !important }

/* ===[ Forms ]=== */
.form-horizontal .control-label { float: right }
.control-group { margin-right: 10px }
.control-group.stack { float: right }

/* ===[ Alert ]=== */
.alert .close {
    float: left;
    right: 0;
}

/* ===[ Infobar ]=== */
.infobar {
    float: right;
}